@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,200;1,200&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav{
      overflow: hidden;
      background-color: rgba(44, 6, 6, 0.829);
  }

  .topnav a{
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      transition: all 0.5s ease;
  }

  .topnav a:hover{

      
      background-color: white;
      color: rgb(0, 15, 99);
  }

  .topnav a.active{
      color: black;
      background: white;
      border: 1px solid rgb(63, 8, 8);
  }

  .topnav .icon{
      display: none;
  }

  /* home page css */
  


  .home{
      width: 50%;

      display: flex;
      flex-direction: column;
  }
  .homeImg{
      width: 30%;
  }
  .homeImg img{
      width: 100%;
  }
  .aboveHome{
      height: 600px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

  }

  .htxt{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }


    /* second backgroun work */

    .secBg{
        position: relative;
        display: flex;
    }
    div .firstPart{
        color: white;
        width: 55%;
        background-color: #2c2933;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px;
    }
    
    .yellowLine{
        background-color: yellow;
        height: 5px;
        width: 5%;

    }

    .readBtn{
        background-color: yellow;
        width: 15%;
        height: 30px;
        text-align: center;
        padding-top: 6px;
        cursor: pointer;
    }

    .fp{
        margin: 34px 23px;
        margin-left: 20%;
        padding-right: 200px;
    }
    div .one {
        font-size: 3rem;
        font-family: 'Montserrat', sans-serif;
        margin-left: 20%;
    }

    .yellowLine{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
    }
    .readBtn{
        color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
    }

    .firstPartImg{
        width: 40%;
        position: absolute;
        top: 85%;
        left: 10%;
    }
    .firstPartImg img{
        width: 75%;
    }

    /* bg -2 second Part work start  */
    .secondPart{
        width: 45%;
        position: relative;
    }
    .roadImg img{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }

    .whitebg{
        width: 110%;
        height: 587px;
        background-color: white;
        position: absolute;
        top: 70px;
        right: 20%;
        opacity: 0.9;
    }

    .whitebg{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 280px 280px;
    }

    .plugImg img{
        width: 30%;
    }
    .keyboardImg img{
        width: 30%;

    }
    .batteryImg img{
        width: 30%;

    }
    .laptopImg img{
        width: 30%;
    }

    .plugImg{
        text-align: center;
        padding-top: 23px;
        margin-right: 22px;

    }
    .keyboardImg{
        text-align: center;
        padding-top: 23px;
    }
    .batteryImg{
        text-align: center;
        padding-top: 23px;
    }
    .laptopImg{
        text-align: center;
        padding-top: 23px;
    }
    .sec_one{
        display: flex;
        flex-direction: column;
    }
    .sec_p_txt{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        text-align: center;
        margin: 12px 0px;
    }

    .sec_p_txt2{
        font-family: 'Georama', sans-serif;
        word-wrap: break-word;
        text-align: center;
        padding: 0px 23px;
        margin-top: 10px;
        font-style: italic;
        font-weight: 600;
        line-height: 1.6;
    }

    .sec_two{
        display: flex;
        flex-direction: column;
    }

    .btxt1{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        text-align: center;
        margin: 12px 0px;
    }
    .btxt2{
        font-family: 'Georama', sans-serif;
        word-wrap: break-word;
        text-align: center;
        padding: 0px 23px;
        margin-top: 10px;
        font-style: italic;
        font-weight: 600;
        line-height: 1.6;
    }

    .sec_three{
        display: flex;
        flex-direction: column;
    }
    .ltxt1{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        text-align: center;
        margin: 12px 0px;
    }
    .ltxt2{
        font-family: 'Georama', sans-serif;
        word-wrap: break-word;
        text-align: center;
        padding: 0px 23px;
        margin-top: 10px;
        font-style: italic;
        font-weight: 600;
        line-height: 1.6;
    }
    .sec_four{
        display: flex;
        flex-direction: column;
    }

    .ktxt1{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        text-align: center;
        margin: 12px 0px;
    }

    .ktxt2{
        font-family: 'Georama', sans-serif;
        word-wrap: break-word;
        text-align: center;
        padding: 0px 23px;
        margin-top: 10px;
        font-style: italic;
        font-weight: 600;
        line-height: 1.6;
    }

    /* my Third background is started */

    .thirdbg{
        position: relative;
    }
    .y_bg_color{
        position: absolute;
        top: 180px;
        right: 13%;
        width: 30%;
        height: 500px;
        background-color: rgb(230, 230, 29);
    }

    .th_bg_img{
        position: absolute;
        top: 250px;
        right: 0%;
        width: 55%;
    }
    .th_bg_img img{
        width: 70%;
    }

    .th_bg .txts{
        position: absolute;
        top: 260px;
        display: flex;
        flex-direction: column;
        width: 20%;

    }
    .th_bg .t_txt_1{
        font-size: 2rem;
        font-family: 'Montserrat', sans-serif;
    }
    .t_color{
        background-color: rgb(209, 209, 6);
        width: 33px;
        height: 10px;
    }

    .th_bg .txts{
        width: 30%;
        margin: 20px 0px;
        margin-left: 10%;
    }

    .th_bg .learnBtn{
        background-color: yellow;
        width: 109px;
        height: 35px;
        text-align: center;
        padding-top: 12px;
        cursor: pointer;
    }

    .txts .ths{
        margin: 20px 0px;
    }
    .t_txt_2{
        line-height: 1.5;
    }


    /* start working on fourth background */

    .fbg{
        margin-top: 800px;
        
        width: 100%;
    }
    .fbg img{
        height: 800px;
        object-fit: cover;
        width: 100%;
    }

    .fcolor{
        width: 44px;
        height: 7px;
        background-color: yellow;
    }

    .fBtn{
        width: 250px;
        height: 35px;
        background-color: rgb(223, 223, 13);
        text-align: center;
        padding-top: 10px;
        border-radius: 10px;
        border: 2px solid gray;
        cursor: pointer;
    }



    .fourth{
        position: relative;
    }
    .finnerImg{
        position: absolute;
        top: 125px;
        left: 0px;
        color: white;
    }

    .ftxt1{
        font-size: 2.5rem;
        font-family: 'Montserrat', sans-serif;
    }

    .ftxts{
        width: 40%;
    }
    .ft{
        text-align: left;
        margin: 30px 0px;
        margin-left: 35px;
    }
    .fBtn{
        color: black;
    }
    .ftxt2{
        line-height: 1.5;
    }


    .fimgs{
        margin-left: 5%;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 40% 40%;
        row-gap: 80px;
        column-gap: 0px;
    }

    .p1{
        width: 100%;
        
    }
    .p1 img{
        
        width: 70%;
        height: 305px;
        object-fit: cover;
    }
    .p2{
        width: 100%;
    }
    .p2 img{
        width: 70%;
        height: 305px;
        object-fit: cover;
    }
    .p3{
        width: 100%;
    }
    .p3 img{
        width: 70%;
        height: 305px;
        object-fit: cover;
    }
    .p4{
        width: 100%;
    }
    .p4 img{
        width: 70%;
        height: 305px;
        object-fit: cover;
    }

    .finnerImg{
        display: flex;
        text-align: center;
        justify-content: space-between;
        top: 100px;
    }


    /* start working on fifth bg */

    .fImg1 img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .fImg2 img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .fImg3 img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .fImg4 img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .sqImg{
        display: grid;
        width: 30%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px;
    }

    .startBtn{
        position: absolute;
        left: 8%;
        top: 15%;
        background-color: rgb(206, 206, 11);
        width: 80%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fImg2{
        position: relative;
    }

    .ft1{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.25rem;
    }


    .fyline{
        background-color: rgb(202, 202, 23);
        width: 30px;
        height: 7px;
    }

    .ft2{
        font-size: 1rem;
        line-height: 1.6;
        font-weight: 400;
    }

    .rmBtnf{
        background-color: rgb(202, 202, 23);
        width: 100px;
        padding: 10px;
        
    }

    .fiveBg{
        display: flex;
        margin-top: 100px;
    }
    
    .f{
        margin: 30px 20px;
    }
    .sqImg{
        margin-left: 20%;
    }

    .fivTexts{
        margin-top: 100px;
        width: 30%;
        margin-left: 60px;
    }


    /* Start Working on sixth background */

    .six{
        margin-top: 80px;
        position: relative;
    }
    .six1st{
        width: 48%;
        position: relative;
    }
    .s1color{
        height: 800px;
        width: 100%;
        background-color: rgb(57 52 63);
    }

    .sH{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.3rem;
        color: white;
        padding: 30px 0px;
    }

    .stxts{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 80px;
        padding: 150px;

    }
    .syl{
        background-color: rgb(202, 202, 23);
        width: 100px;
        height: 6px;
        margin: 30px 0px;
    }

    .sbn{
        background-color: rgb(207, 207, 19);
        width: 122px;
        height: 34px;
        margin: 30px 0px;
        text-align: center;
        padding-top: 12px;
    }

    .st1{
        padding: 30px 0px;
        color: white;
    }

    .six2nd{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 52%;
    }
    

    .sixImg img{
        width: 100%;
        height: 800px;
        object-fit: cover;
    }

    .contact{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -40px;
        top: 250px;
    }

    .name{
        padding: 20px 0px;
    }
    .name input{
        color: white;
        width: 250%;
        height: 33px;
        background:none;
        border: 2px solid white;
    }
    .email{
        padding: 20px 0px;
    }
    .email input{
        color: white;
        width: 250%;
        height: 33px;
        background: none;
        border: 2px solid white;
    }
    .message{
      
        padding: 20px 0px;
    }
    .message textarea{
        color: white;
        width: 250%;
        height: 200px;
        background:none;
        border: 2px solid white;
    }

    .subBtn{
        width: 10%;
        height: 15px;
        text-align: center;
    }
    input[type=submit] {
        background-color: rgb(202, 202, 18);
        color: rgb(37, 16, 16);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type=submit]:hover {
        background-color: #45a049;
      }

      
      /* Now i will work on footer  */

    .footer{
        background-color: black;
        height: 250px;
    }
    .fa{
        color: white;
        text-decoration: none;
        padding: 0px 10px;
        
    }
    .footer a{
        font-size: 30px;
    }

    .footImgs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 150px;
        align-items: center;
    }

    .foottxt{
        color: white;
        text-align: center;
        padding-top: 12px;
    }


    .lastFooter{
        color: white;
        background-color: #333333;
        height: 50px;
        align-items: center;
        text-align: center;
        padding-top: 25px;
        font-size: 12px;
    }
    .lastFooter a{
        color: rgb(223, 223, 43);
        font-size: 12px;
    }











  @media screen and (max-width: 600px){
      .topnav a:not(:first-child){
          display: none;
      }
      .topnav a.icon{
            float: right;
            display: block;
      }
      .topnav.responsive {
          position: relative;
      }
      .topnav.responsive .icon{
          position: absolute;
          right: 0px;
          top: 0px;
      }
      .topnav.responsive a{
          float: none;
          display: block;
          text-align: left;
      }
  }

